@media all and (max-width: 1000px) {

    /*beranda*/
    nav ul{
        display: none;
    }
    .text-box p{
        padding-top: 0px 10px 10px 0px;
        display: none;
       
    
    }
    .text-box h1{
        padding-bottom: -50px;
        margin-left: 20px;
        font-size: 50px;
      
     
    }
    
    .text-box .row{
      display: inline-block;
      flex-wrap: wrap;
      margin-bottom: 10px;
    }
    
    .text-box h3{
        font-size: 23px;
        font-weight: 200;
    }
    

/*tentang*/

.main img{
    max-width: 80px;
}
.icontentang p{
    font-size: 14px;
}
.kontenbro{
    font-size: 12px;
}
.main .kontenbro {
    display: none;
}
    /*proyek*/
    .container-proyek h2{
        padding-top: 20px;
    }
    .proyek-proyek{
        flex-wrap: wrap;
        padding:20px 0;
        margin-bottom: 20px;

    }
    .proyek{
        width:29%;
    }

}

@media all and (max-width: 670px) {
    /*proyek*/
    .proyek-proyek{
        flex-wrap: wrap;
        margin-bottom: 50px;

    }
    .proyek{
        width:100%;
    }

}

/* bagian layanan */
@media all and (max-width: 1000px){
    .page-layanan{
        height: 200vh;
    }
    .lesson{
        width: 50%;
    }
    .txt-contents{
        text-align: left;
    }

}

@media all and (max-width: 670px){
    .page-layanan{
        height: 280vh;
    }
    .lesson{
        width: 100%;
        flex-wrap: wrap;
    }
    .txt-contents{
        text-align: left;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }
}