*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',signika Negative ;
}

.container{
 width: 100%;
 height: 100vh;
 background-image: linear-gradient(rgba(0,0,0,0.3), transparent),url(images/background.png);

 background-size: cover;
 background-position: center;
 padding: 0 8%;
 position: relative;

}
nav{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;
}
.logo{
    width: 120px;
    cursor: pointer;
}
nav ul{
    flex: 1;
    text-align: right;
    padding-right: 10px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 20px 35px;
}
nav ul li a{
    color: aliceblue;
    text-decoration: none;
    font: 'poppins';
    position: relative;

}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    transition: width 0.3s;
}
nav ul li a:hover::after{
    width: 50%;

}
.text-box{
    color: #fff;
    position:absolute;
    bottom: 8%;

}
.text-box p{
    font-size: 50px;
    font-weight: 600;
}
.text-box h1{
    font-size: 90px;
    line-height: 160px;
    margin-left: -10px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(images/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
 
}

@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}
.text-box h3{
    font-size: 25px;
    font-weight: 500;
    
}
.text-box .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top:30px;

}
.text-box a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 20px;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
     
}
.text-box a span{
    font-size: 30px;
    line-height: 15px;
    margin-left: 5px;

}
.social-icons{
    position: absolute;
    right: 5%;
    bottom: 8%;
}
.social-icons img{
    width: 25px;
    display: block;
    margin: 25px 5px;
}

.container-proyek h2{
    color: #7879f1;
    font-size: 16px;
    font-family: 'poppins',signika Negative ;
    font-style: italic;
    text-align: center;
    }
    .container-proyek h1{
    text-align: center;
    font-size: 36px;
    font-family: 'poppins',signika Negative ;
    color: transparent;
    -webkit-text-stroke: 1px #f8748d;
    background: url(images/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 25s linear infinite;
    padding-bottom: 10px;
    }
    
    .container-proyek{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 5% 8%;
    position: relative;
    background-color: #f6d33b;
    
    }
    
    .gambar-proyek img{
    
    width: 90% ;
    border-radius: 8px;
    height:200px;
    line-height: 100px;
    
    }
    
    .proyek-proyek{
    
    display: flex;padding: 50px 0;
    border-top:2px solid #7879f1;
    border-bottom:2px solid #7879f1;
    }
    .proyek{
    background-color: #e4e4e4;
    width:25%;
    padding: 10px 0px;
    border: 1px solid #e4e4e4;
    text-align: center;
    border-radius: 8px;
    margin: 10px 10px;
    box-shadow: 1px -1px #ffffff;
    
    
    }
    .proyek:active{
    box-shadow: -1px 1px #7879f1;
    }
    .proyek p{
    padding-top:10px;
    color:#24262a;
    display:block;
    opacity:0.9;
    }
    .aaa{
    opacity:0.4;
    }
    .blabla p:hover{
    color:#f8748d;
    cursor: pointer;
    transition: 0.5s;
    }